body {
    background-color: bisque;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: bisque;
}
nav p {
    margin: 0;
    text-align: center;
}

nav p a {
    font-size: 40px;
    color: rgb(207, 207, 207);
}
nav p a:hover {
    color: rgb(177, 255, 249);
}

main {
    margin-top: 200px;
    padding-bottom: 200px;
}
.aocentro{
    text-align: center;
}

.imgHeader {
    width: 50%;
}

footer{
    background-color: grey;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

nav{
    background-color: grey;
    padding: 5px;
    margin: 10px;
}

a{
    color: white;
}
p{
    text-align: justify ;
}
/*A tabela deve ter uma border de 1px tracejada e com lightblue; um padding de
10px e margin left e right como auto (centrar a tabela).
*/

table{
    border-style:dashed;
    border-color:lightblue;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
table ul {
    font-family: 'Staatliches', cursive;
}

h3:hover {
    color: red;
} 
button{
    margin-left: 50%;
    transform: translateX(-50%);
}
button:hover{
transform: scale(5);
transition: transform 2s;
}

.neon{
    animation: mymoveon-of 5s infinite;
      }
      div {
        width: 500px;
        height: 400px;
        background: red;
        position: relative;
        animation: mymove 5s infinite;
      }
      
      @keyframes mymove {
        0%   {top: 0px; left: 0px; background: red;}
        25%  {top: 0px; left: 100px; background: blue;}
        50%  {top: 100px; left: 100px; background: red;}
        75%  {top: 100px; left: 0px; background: blue;}
        100% {top: 0px; left: 0px; background: red;}
      }
